@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Shadows+Into+Light&display=swap');

.body{
    background-color: #AE759F;

}
.gameTitle{
    font-family: "Shadows Into Light", cursive;
    display: flex;
    justify-content: center;
    background-color: #210b2c;
    color: #D8B4E2;
    font-size: 80px;
}

.leaderboardTitle{
    font-family: "Gloria Hallelujah", "cursive";
}

li, .musicdataContainer{
    font-family: "Gloria Hallelujah", "cursive";
    list-style: decimal;
}



.musicdataContainer{
    font-family: "Gloria Hallelujah", "cursive";
    font-size:larger;
}
#data-button, #music-button{
    font-family: "Gloria Hallelujah", "cursive";
    border-radius: 1em;
    background-color: #210B2C;
    color: #D8B4E2;
    border: none;
}

#playerForm{
    font-family: "Gloria Hallelujah", "cursive";
    color: #ecd2f3;
}

#submit{
    font-family: "Gloria Hallelujah", "cursive";
    border-radius: 1em;
    background-color: #210B2C;
    color: #D8B4E2;
    border: none;
}
.gameover{
    display: none;
    position: absolute;
    width: 600px; /* Full width */
    height: 400px; /* Full height */
    align-items: center;
    margin: 8%; /* 15% from the top and centered */
    padding: 5px;
    color: red;
    background-color: rgba(33,11,44, 0.9);
    overflow: auto;
}